.equip-menu {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 3px solid black;
    padding: 3px;
}

.equip-menuItem {
    display: inline;
    padding: 5px 25px;
}

.active {
    color: white;
    background-color: black;
    height: 40px;
    border-radius: 2px;
}

/*==== Menu Item ====*/
.equip-text {
    margin: 15px;
    text-align: center;
}

.equip-item {
    text-align: center;
    margin-bottom: 25px;
}

.equip-img {
    border-radius: 100%;
    width: 300px;
}

.equip-img-vert {
    vertical-align: middle;
    display: block;
        
}

.img-item {
    height: 250px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; 
}
/*====Class de hauteur pour les images ====*/
.height1 {
    height: 150px;
    margin-top: 50px;
}

.height2 {
    height: 175px;
    margin-top: 38px;
}

.height3 {
    height: 200px;
    margin-top: 25px;
}

.height4 {
    height: 225px;
    margin-top: 12px;
}

.height5 {
    height: 250px;
}

/*==== Barre de selection ===*/
.equip-selector {
    text-align: center;
}

.equip-input {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid;
    text-align: center;
    
}

/*====Class Couleur ===*/
.black {
    color: black;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.vert {
    border-color: green;
}

/*===== Centrage du bouton PrintPDF =======*/
.button-container {
    margin-right: auto;
    margin-left: auto;
    
}

.button {
    width: 150px;
    height: 25px;
    box-shadow: 4px 4px 8px black;
    border-radius: 8px;
    margin: 25px;
    padding: 5px;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; 
}

.button:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
}